<h2>POS</h2>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <table>
      <tr>
        <th>PRODUCTS</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>TOTAL</th>
      </tr>
      <tr *ngIf="this.i==0">
        <td colspan="4" style="text-align: center;height:300px">THERE ARE NO PRODUCTS</td>

      </tr>
      <tr *ngFor="let x of selectedproducts;">

        <td><i class="fa fa-close" [value]="x.price" title="Delete"style="font-size:20px;color:red"
            (click)="deleteProduct($event)"></i>&nbsp;{{x.description}}</td>
        <td>{{x.price}}</td>
        <td style="text-align: left;"> <button style="font-size:10px;color:grey;" [value]="x.price"
            (click)="deleteItem($event)"> <i class="fa fa-minus"></i></button>&nbsp;
          <button style="font-size:10px;color:grey;">{{y}}</button>&nbsp;
          <button style="font-size:10px;color:grey;" [value]="x.price" (click)="addItem($event)"> <i
              class="fa fa-plus"></i></button>

        </td>
        <td>{{ y*x.price }}</td>
      </tr>
    </table>
    <table >
      <tbody *ngFor="let x of selectedproducts;">
      <tr>
        <td><b>SubTotal</b></td>
        <td>{{total}}</td>
        <td>{{z}}items</td>
      </tr>
      <tr>
        <td><b>VAT Tax</b></td>
        <td>{{y*x.price}}/100</td>
        <td>INR</td>
      </tr>
      <tr >
        <td><b>Discount</b></td>
        <td>{{y*x.price}}/100</td>
        <td>INR</td>

      </tr>
      <tr>
        <td><b>Total</b></td>
        <td>{{total}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <br>
    <button style="color:white;background-color: red;width:300px;height:50px">CANCEL SALE</button>
    <button type="button" style="color:white;background-color: green;width:300px;height:50px;float:right"
      data-toggle="modal" data-target="#myModal">PROCESS SALE</button>
  </div>


  <div class="row">
    <div class="column" style="background-color:#bbb;">
      <div class="item" *ngFor="let img of images">
        <div style="align-content: center;cursor: pointer;" title="Clicktoadditem">
          <div class="col-md-3">
            <img style="height: 100px; width:100px;" [value]="img.image" [src]="'../assets/images/' + img.image"
            (click)="passData($event)" />
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sale no:00102</h4>
        </div>
        <div class="modal-body">
          <p>Date :{{this.currentdate}}</p>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Products</th>
                <th>Quantity</th>
                <th>SubTotal</th>
              </tr>
            </thead>
            <tbody *ngFor="let x of selectedproducts;let i=index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{x.description}}</td>
                <td>{{z}}</td>

                <td>{{y*x.price}}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>{{z}}Total</td>
                <td>{{y*x.price}}</td>
              </tr>
              <tr>
                <td></td>
                <td>Discount</td>
                <td>{{y*x.price}}/100</td>
              </tr>
              <tr>
                <td></td>
                <td>VAT</td>
                <td>{{y*x.price}}/100</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>